.weathers{
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    gap: 5px;

    img{
        width: 40px;
    }

    .weatherCard{
        height: 110px;
        width: 20%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    &>p{
        width: 100%;
        text-align: center;
    }

    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        &>span{
            font-size: 20px;
        }
    }
}
}